.inputs {
    display: inline-block;
    width: 250px;
    height: auto;   
}

.inputs p {
    display: inline-block;
    width: 70px;
    margin: 10px 0;
    border: 1px solid black;
}

.inputs p:hover {
    background-color: rgba(181, 181, 209, 0.5);
    cursor: pointer;
}